<div style="width:250px;height:250px;clear:both;overflow:hidden;position:relative;" >
  <a href="@{Application.project(_project.projectTitle)}">
    #{if _project.imageBytes}
      <img src="@{Application.getImage2(_project.id)}" />
    #{/if}
    #{else}
      <div style="width:246px;height:246px;border-style:solid;border-color:#000000;border-width:2px;color:#000000;position:relative;">
        <div style="margin:5px;position:absolute;bottom:5px;">
          ${_project.projectTitle}
        </div>
      </div>
    #{/else}
  </a>
</div>