<div style="clear:both">
  <div style="float:left">
    <img src="@{Application.getImage2(_project.id)}" width="100px" height="100px" />
  </div>
  <div style="float:left;width:350px;margin-left:10px">
    <div style="font-weight:bold;font-size:16px;width:inherit">
      <a style="color:#000000" href="@{Application.project(_project.projectTitle)}">${_project.projectTitle}</a>
    </div>
    <div style="color:#888888;font-size:14px;width:inherit">
      #{list _project.artistSet, as:'artist'}
          <a style="color:#000000" href="@{Application.artist(artist.text, 0)}">${artist.text}</a> &middot;
      #{/list}
    </div>
    <div sytle="font-size:12px;width:inherit">
      ${_project.briefDescription}
    </div>
  </div>
</div>
<div style="clear:both">
  <br />
  <br />
</div>
