 
<div>
  <h2>${_project.projectTitle}</h2>
  by ${_project.artist}
  <br />
  Description: ${_project.description}
  <br />
  Tags: ${_project.tags}
  <br />
  Living Inspirations: ${_project.livingInspirations}
  <br />
  Past Inspirations: ${_project.pastInspirations}
  <br />
  Non-Artist Inspirations: ${_project.nonArtistInspirations}
  <br />
  Emails: ${_project.emails}
  <br />
  Message: ${_project.message}
  <br />
  Image:
  <br />
  <!-- <img src="@{'/data/attachments/9056723c-f938-47ad-9172-764de7cb304a'}" /> -->
  <img src="@{Application.getImage(_project.id)}" />
</div>
