#{extends 'main.html' /}
#{set title:'EXCHANGE ARCHIVE - About' /}

<!DOCTYPE html>
<!--[if lt IE 7]> <html class="ie6 oldie"> <![endif]-->
<!--[if IE 7]>    <html class="ie7 oldie"> <![endif]-->
<!--[if IE 8]>    <html class="ie8 oldie"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="">
<!--<![endif]-->

<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" media="screen" href="@{'/public/stylesheets/newStyle.css'}">
<link rel="stylesheet" media="screen" href="@{'/public/stylesheets/main.css'}">
<script src="@{'/public/javascripts/respond.min.js'}" type="text/javascript" ></script>
        
<!--[if lt IE 9]>
<script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->
</head>

<body>
  <div class="gridContainer clearfix">
    <div style="clear:both">
      <br />
      <h2>
        About:
      </h2>
      <h3>
        All artists work in a dialog with others. The Exchange Archive supports
        <br />
        <strong>artistic dialog</strong> by showing the inspirations that flow between projects.
        <br /><br />
        The Exchange Archive is a platform for <a href="@{Application.photos()}">showcasing art</a> online,<br /> 
        especially works about <strong>exchange</strong> or <strong>barter</strong>.
        <br /><br />
        We highlight the <strong>connections</strong> between works, to foster the art community.<br />
        To join us, <a href="@{Application.form()}">add a project</a> or just <a href="@{Application.graph()}">explore</a>!
      </h3>
    </div>
    
    <br />
    <h2>
      Who We Are:
    </h2>  
    <h3>
      Caroline Woolard <br />
      <br />
      <em>MultiAgency Collective</em> <br />
      Corey Brady <br />
      Pratim Sengupta <br />
      Amelia Winger-Bearskin <br />
    </h3>
    
    <br />
    <h2>
      Developer:
    </h2>  
    <h3>
      Mason Wright
    </h3>
    
    <br />
    <h2>
      <a href="@{Application.contact()}">Contact Us</a>
    </h2>
  </div>

</body>

</html>
