#{extends 'main.html' /}
#{set title:'EXCHANGE ARCHIVE - About' /}

<!DOCTYPE html>
<!--[if lt IE 7]> <html class="ie6 oldie"> <![endif]-->
<!--[if IE 7]>    <html class="ie7 oldie"> <![endif]-->
<!--[if IE 8]>    <html class="ie8 oldie"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="">
<!--<![endif]-->

<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" media="screen" href="@{'/public/stylesheets/newStyle.css'}">
<link rel="stylesheet" media="screen" href="@{'/public/stylesheets/main.css'}">
<script src="@{'/public/javascripts/respond.min.js'}" type="text/javascript" ></script>
        
<!--[if lt IE 9]>
<script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->
</head>

<body>
  <div class="gridContainer clearfix" id="narrowDiv">
    <div style="clear:both">
      <br />
      <h2>
        About:
      </h2>
      <div style="font-size:15px">
        The Exchange Archive is a <strong>research database for projects about exchange</strong>. 
        
        <br /><br />
        From unconventional dialog to reciprocity systems, the Exchange Archive supports 
        <strong>research</strong> about contemporary exchange practices. We aim to 
        <strong>support</strong> artistic research by making 
        <strong>legible</strong> the people, ideas, and materials that surround exchange-based work today.
       
        <br /><br />
        The Exchange Archive highlights <strong>connections</strong> between works. 
        
        <br /><br />
        You can <a href="@{Application.form()}">add your project</a> or just <a href="@{Application.graph()}">explore</a>!
      </div>
    </div>
    
    <br />
    <h2>
      Who We Are:
    </h2>  
    <div style="font-size:15px">
      <em>Project Organizer</em>: Caroline Woolard
      <br /><br />
    
      <div style="padding-top:5px">
        <img src="@{'/public/images/caroline.jpg'}" height="150px" style="float:left" />
        <div style="float:left;width:410px;padding-left:15px">
          <strong>Caroline Woolard</strong> is an artist and organizer based in Brooklyn, New York. Making sculptures, 
          furniture, events, and workshops, Woolard co-creates spaces for critical 
          exchange, forgotten histories, and plausible futures. In 2009, Woolard 
          cofounded three organizations to support collaborative cultural production: a 
          <a href="http://vimeo.com/2805154" target="_blank">studio</a> space, a 
          <a href="https://ourgoods.org/" target="_blank">barter network</a>, 
          and 
          <a href="http://tradeschool.coop/" target="_blank">Trade School</a>. Woolard teaches at the 
          <a href="http://finearts.parsons.edu/home/?q=node/5" target="_blank">New School</a> and is a Fellow at 
          <a href="http://eyebeam.org/people/caroline-woolard" target="_blank">Eyebeam</a>.
        </div>
      </div>
      <br style="clear:both" /><br />
      
      <em>MultiAgency Collective</em>: <span style="color:#888888">(in alphabetical order)</span><br />
      Amelia Winger-Bearskin<br />
      Corey Brady<br />
      Pratim Sengupta 
      
      <br /><br />
      
      <div style="padding-top:5px">
        <img src="@{'/public/images/amelia.jpg'}" height="150px" style="float:left" />
        <div style="float:left;width:450px;padding-left:15px">
          <strong>Amelia Winger-Bearskin</strong> is an Interactive Performance Artist living in Brooklyn.
          She has been a solo performer at numerous international performance festivals 
          and art biennials since 2008 in cities not limited to: Beijing, China; Manila, 
          Philippines; Seoul and Gwangju, South Korea; Sao Paulo, Brazil; Tasmania, Australia; 
          New York, NY; and Washington, DC. Her newest works are audience experiences 
          merging the worlds of computational media, physical computing and agent based software.<br />
          <a href="http://www.studioamelia.com/" target="_blank">Virtual Studio Space</a>
        </div>
      </div>
      <br style="clear:both" /><br />
      
      <div style="padding-top:5px">
        <img src="@{'/public/images/corey.jpg'}" height="150px" style="float:left" />
        <div style="float:left;width:470px;padding-left:15px">
          <strong>Corey Brady</strong> is a designer of technologies for collaborative 
          knowledge building.  He is president of Inquire Learning, LLC, and co-Principal 
          Investigator on two grants from the National Science Foundation.  He holds a PhD 
          in mathematics education, as well as master’s degrees in both mathematics 
          (algebraic topology) and English (Victorian literature).
        </div>
      </div>
      <br style="clear:both" /><br />
      
      <div style="padding-top:5px">
        <img src="@{'/public/images/pratim.png'}" height="150px" style="float:left" />
        <div style="float:left;width:370px;padding-left:15px">
          <strong>Pratim Sengupta</strong> is an assistant professor of Learning Sciences at Vanderbilt 
          University, and recipient of the National Science Foundation’s Early 
          CAREER award. He designs multi-agent based and tangible computational systems 
          for a wide age group of learners, and studies cognitive development of both 
          children and adults. He directs the
          <a href="http://www.m3lab.org/" target="_blank">Mind, Matter & Media Lab</a>.
        </div>
      </div>
      <br style="clear:both" /><br />

      <em>Developer</em>: Mason Wright
      <br /><br />
      
      <div style="padding-top:5px">
        <img src="@{'/public/images/mason.jpeg'}" height="150px" style="float:left" />
        <div style="float:left;width:450px;padding-left:15px">
          <strong>Mason Wright</strong> is a software developer at Vanderbilt University. He holds a 
          master's degree in science education from Vanderbilt and has taught high school 
          physics. As a programmer, he builds visual programming environments for students 
          in grade school through high school, with funding from the NSF at the 
          <a href=http://www.m3lab.org/ target="_blank">Mind, Matter & Media Lab</a>. 
          He has also used JavaScript and HTML5 to implement educational web games that can be played on 
          mobile devices.
        </div>
      </div>
      <br style="clear:both" />
    </div>
    <br />
    <h2>
      <a href="@{Application.contact()}">Contact Us</a>
    </h2>
  </div>

</body>

</html>
