#{extends 'main.html' /}
#{set title:'EXCHANGE ARCHIVE - Edit Project' /}

<!DOCTYPE html>
<!--[if lt IE 7]> <html class="ie6 oldie"> <![endif]-->
<!--[if IE 7]>    <html class="ie7 oldie"> <![endif]-->
<!--[if IE 8]>    <html class="ie8 oldie"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="">
<!--<![endif]-->

<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" media="screen" href="@{'/public/stylesheets/newStyle.css'}">
<link rel="stylesheet" media="screen" href="@{'/public/stylesheets/main.css'}">
<script src="@{'/public/javascripts/respond.min.js'}" type="text/javascript" ></script>
        
<!--[if lt IE 9]>
<script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->
</head>

<body>
<div class="gridContainer clearfix" id="narrowDiv">
  <br style="clear:both" />
  <div>
    #{if flash.error}
      <div id="errorBox" style="clear:both">
        Your form contains errors. Please try again.
      </div>
    #{/if}
  
  <h2>Edit Your Project</h2>
    <div>
      <div id="deleteButton">
      <a href="@{Application.deleteWarning(flash.uuid)}" id="buttonLink">Delete Project</a>
    </div>

  #{form @Application.editProject(), enctype:'multipart/form-data'}
    <p>
      Project Title
      <br />
      <input type="text" name="projectTitle" id="projectTitle" placeholder="Project title" value="${flash.projectTitle}" maxlength="50">
      <div class="error">${flash.projectTitleError}</div>
    </p>
    <p>
      Artists
      <br />
      <input type="text" name="artists" id="artist" placeholder="Artists' and/or collectives' names, separated by commas" value="${flash.artists}" maxlength="255">
      <div class="error">${flash.artistsError}</div>
    </p>
    <p>
      Photo of Project
      <span style="color:#888888"> (limit 4 MB. jpeg, png, gif, or bmp)</span>
      <br />

      #{if myProjectId}
      Previous photo:
      <br />
      <div>
        <img src="@{Application.getImage2(myProjectId)}" width="100px" height="100px" />
      </div>
      #{/if}
      
      <input type="file" name="myImage" id="myImage">
      <br /><br />
      <div class="error">${flash.myImageError}</div>
    </p>
    <p>
      Start Date
      <span style="color:#888888">. . . year that your project began</span>
      <br />
      <input type="text" name="startYear" id="startYear" placeholder="YYYY" value="${flash.startYear}" maxlength="4">
      <div class="error">${flash.startYearError}</div>
    </p>
    <p>
      Description
      <br />
      <textarea name="description" cols="100" rows="4" id="description" placeholder="Add a short description of your project" maxlength="1000">${flash.description}</textarea>
      <div class="error">${flash.descriptionError}</div>
    </p>
    <p>
      Tags 
      <span style="color:#888888">. . . words that describe your work</span>
      <br />
      <input type="text" name="tags" id="tags" placeholder="Enter tags, separated by commas" value="${flash.tags}" maxlength="255">
      <div class="error">${flash.tagsError}</div>
      #{if popularTags}
        <div>Popular Tags: ${popularTags}</div>
      #{/if}
    </p>
    <p>
      Your Peers
      <span style="color:#888888">. . . the people who give you feedback and support</span>
      <br />
      <input type="text" name="peers" id="peers" placeholder="Enter peers, separated by commas" value="${flash.peers}" maxlength="255">
      <div class="error">${flash.peersError}</div>
    </p>
    <p>
      Other Inspirations 
      <span style="color:#888888">. . . people who inspire or influence your work</span><br />
      <span style="font-size:11px">(don't just name drop, please choose people whose work truly matters to you)</span>
      <br />
      <input type="text" name="otherInspirations" id="otherInspirations" placeholder="Enter inspirations, separated by commas" value="${flash.otherInspirations}" maxlength="255">
      <div class="error">${flash.otherInspirationsError}</div>
    </p>
    <p>
      Your Website
      <span style="color:#888888">(optional)</span>
      <br />
      <input type="text" name="url" id="url" placeholder="Your web site's address" value="${flash.url}" maxlength="100">
      <div class="error">${flash.urlError}</div>
    </p>
    
    <input type="text" name="uuid" id="uuid" value="${flash.uuid}" readonly="readonly" style="display:none" >
    
    <p>
      Please type the code below.
      <br />
      <img src="@{Application.captcha(randomId)}" />
      <br />
      <input type="text" name="code" id="code" size="18" value="" maxlength="50"/>
      <input type="hidden" name="randomId" id="randomId" value="${randomId}" />
      <div class="error">${flash.myCode}</div>
    </p>
    <p>
      <input type="submit" name="submit" id="submit" value="Submit">
      <button type="button" onclick='window.location = "@{Application.graph()}";');">Cancel</button>
    </p>
   #{/}
  </div>
</div>
</body>

</html>
