#{extends 'main.html' /}
#{set title:'inspirednetwork.html' /}

<head>

<script type="text/javascript">
    var dictionary;
    var inspindex = 0;
    var existingnodes = [];
   	
	function getinspiration( anaction ) {
	   $('#result').load(
	       anaction,
	       function(data) {
       	   		dictionary = JSON.parse(data);
       		}
   		)
	}
	//load the set of inspirations in at document ready.	   
 	$(document).ready(function() {
   		var testAction = #{jsAction @Application.getInspirations() /};
		var blah = testAction();
	  	getinspiration( blah );
	});
		 
	function recall( n ) {
	   return dictionary[n];
	}
	
	
	
	var realtime = true;
	function loadALLinspiration() {
		realtime = false;
		while (inspindex < dictionary.length) {
			loadnextinspiration();
		}
		realtime =true;
		sigInst.draw();
		setupSpringLayout(50);
	}
	
	
	var toggler = true;
	function loadnextinspiration() {
		if   (springlayoutgoing ) {
			return;
		}


	for (var i=0;i<2;i++) {  //do two inspirations for each spring
	    if (inspindex >= dictionary.length)
	    {
	    	alert("no more entries to render");
			if (nodeloader)
			{
				window.clearInterval(nodeloader);
			}
	    	return;
	    }
		var nex = recall(inspindex);
		var n0 = nex[0];
		var n1 = nex[1];
		var isnew0 = true;
		var isnew1 = true;
		for (var i = 0; i< existingnodes.length; i++) {
		 	if ( existingnodes[i] == n0 ) { isnew0 = false; }
		 	if ( existingnodes[i] == n1 ) { isnew1 = false; }
		}
		if ( isnew0 ) {
			var theta = 2 * Math.PI * Math.random();
			var thex = .5 + .5 * Math.cos(theta);
		    var they = .5 + .5 * Math.sin(theta);
			if ( Math.abs(thex) > 1 || Math.abs(they) > 1) { console.log("TOO BIG: " + thex + "," + they); }
			sigInst.addNode(n0,{
			      'x': thex,
			      'y': they,
			      'size': 4,
			      'color': 'rgb(206,253,56)',
    			});
		}
		if ( isnew1 )	{
			var theta = 2 * Math.PI * Math.random();
			var thex = .5 + .5 * Math.cos(theta);
		    var they = .5 + .5 * Math.sin(theta);
			sigInst.addNode(n1,{
			      'x': thex,
			      'y': they,
			      'size': 4,
			      'color': 'rgb(206,253,56)',
    			});
		}
		//console.log( sigInst.getNodes(n0) );
		existingnodes.push(n0);
		existingnodes.push(n1);
		edgeIndex++;
		inspindex++;
		sigInst.addEdge(edgeIndex,n0,n1);
		
		
	}//for loop - so we get two per load
	//	sigInst.refresh();
  	//	sigInst.draw();

		if ( realtime) {
		setupSpringLayout( 5 ); }
	}
	
	function setupSpringLayout( numcycles )  {
		springlayoutcounter = 0;
		springlayoutgoing = true;
		if (numcycles) {
			springlayoutcyles = numcycles;
		} else {
			springlayoutcyles = 5;
		}
		springLayoutDoer = window.setInterval(function() {springLayoutCycle();},50);
	}
	
	var springlayoutcounter = 0;
	var springlayoutgoing = false;
	function springLayoutCycle()  {
		springlayoutcounter++;
		if ( springlayoutcounter < springlayoutcyles) {
			sigInst.mySpringLayout();
		}
		else{
			window.clearInterval(springLayoutDoer);
			springlayoutgoing = false;
		//	sigInst.refresh();
		//	sigInst.draw();
		}
	}
	
</script>


  <script src="http://sigmajs.org/js/prettify.js"></script>
  <script src="http://sigmajs.org/js/sigma.min.js"></script>

  <script type="text/javascript">
 	 var _gaq = _gaq || [];
	  _gaq.push(['_setAccount', 'UA-29798319-1']);
	  _gaq.push(['_trackPageview']);

	  (function() {
	    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
	    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
	    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
	  })();
  </script>

<script type="text/javascript">
	var sigInst;
	var nodeIndex = 0;
	var edgeIndex = 0;

	var testColor = 'rgb(220,113,86)';
	var oldsize = 1;
	var oldcolor = '#F00';

	function getdistance( myx, myy, othersx, othersy ) {
		return Math.sqrt (  (myx - othersx) * (myx - othersx) + (myy - othersy) * (myy - othersy)  );
	}

	function pushpull( d, threshold, myx, myy, othersx, othersy ) {
		var factor = .01;
		var force = factor * ( d - threshold);
		var theta = Math.atan2( (othersy-myy), (othersx - myx)  );
		var dx = force * Math.cos(theta);
		var dy = force * Math.sin(theta);
	 	return new Array(dx, dy );
	}
	
	var threshold = .3;
	var nodeloader;
	
	
	function init() 
	{
	  //create layout plugin
	sigma.publicPrototype.mySpringLayout = function() {
		
		//load up the graph info we need.
	    var neighborinfo = {};
		var nodecoords = {};
	    var sumxcor = 0;
	    var sumycor = 0;
	    var N = this.getNodesCount();

	    this.iterNodes(function(n){
		  sumxcor += n.x;
		  sumycor += n.y;
		  var coords = new Array(n.x, n.y);
		  nodecoords[n.id]=coords;
	      var nbrs = [];
		  sigInst.iterEdges(function(e){
				if (e.source == n.id )	{
					nbrs.push( e.target );
				}
				else if (e.target == n.id) {
					nbrs.push( e.source );
				}
			});
		  neighborinfo[n.id]=nbrs;
	    });
		
			
		//repel
		this.iterNodes( function(n) {
			var dels = new Array(0, 0);
			
			for (var key in nodecoords ) {
				if (nodecoords.hasOwnProperty(key)) {
					if ( n.id !== key) {
						var cors = nodecoords[key];
						var d = getdistance( n.x, n.y, cors[0], cors[1]);
						//console.log("distance is " + d);
						if (d < threshold)  {
							var delhere = pushpull( d, threshold, n.x, n.y, cors[0], cors[1] )
							//console.log("the effect between " +n.id+ " and " + key + " is " + delhere);
							dels[0] += delhere[0];
							dels[1] += delhere[1];
						}
					}
				}
			}
			n.x += dels[0];
			n.y += dels[1];
		
			nodecoords[n.id] = new Array( n.x, n.y);
			//console.log("net change in position for " + n.id + " will be " + dels);
		});
		
	//	this.refresh();
		//this.draw();
		
		//attract-repel based on links.
		this.iterNodes( function(n) {
			var dels = new Array(0, 0);
			var ninfo = neighborinfo[n.id];
			
			if (ninfo) {
				var nodeneighbors = sigInst.getNodes(ninfo);
				for (var j=0; j<nodeneighbors.length; j++)	{
					var nbr = nodeneighbors[j];
					var d = getdistance( n.x, n.y, nbr.x, nbr.y );
					var delhere = pushpull( d, threshold, n.x, n.y, nbr.x, nbr.y );
					dels[0] += delhere[0];
					dels[1] += delhere[1];
				}
			}
			n.x += dels[0];
			n.y += dels[1];
			nodecoords[n.id] = new Array( n.x, n.y);
			//console.log("net change in position for " + n.id + " will be " + dels);
		});
	
	//	this.refresh();
	//	this.draw();
		
	    //return this.position(0,0,1).draw();
		return this.draw();
	  };
	
	

	
     //other init
		 sigInst = sigma.init(document.getElementById('node-demo')).drawingProperties({
		     defaultEdgeType: 'straight',
		     defaultLabelColor: '#fff'
		 }).mouseProperties({
			    maxRatio: 2
			  });;
    
	  	sigInst.bind('overnodes',function(event){ 
	  			var theno = event.content[0]; 
	  			document.getElementById("status-label").innerHTML="<center>"+event.content[0]+"</center"; 
				document.getElementById("status-img").src=imagehtml;
	  			sigInst.iterNodes(function(n){
	      			if (n.id == theno) { oldsize = n.size; n.size = 10;  oldcolor = n.color; n.color = testColor; }
	      			else { if (n.size == 10) { n.size = oldsize; n.color = oldcolor; }}
	    		});
	  		//	sigInst.refresh();
	  		//	sigInst.draw();
	  	   });
	
	  		sigInst.bind('outnodes',function(event){ 
		  			var theno = event.content[0]; 
		  			
		  			sigInst.iterNodes(function(n){
		      			if (n.id == theno) { n.size = oldsize; n.color = oldcolor; }
		    		});
		  		//	sigInst.refresh();
		  		//	sigInst.draw();
		  	   });
	
	  
		
		
		sigInst.position(0,0,1).draw();
		document.getElementById('add-nodes').addEventListener('click',function(){
	   		   loadnextinspiration();
		  	},true);
		
		
				document.getElementById('add-all-nodes').addEventListener('click',function(){
			   		   loadALLinspiration();
				  	},true);
		
	
			
			document.getElementById('spring').addEventListener('click',function(){
			    sigInst.mySpringLayout();
			  },true);
			
			document.getElementById('load-inspirations').addEventListener('click',function(){
			    nodeloader = window.setInterval(function() {loadnextinspiration();}, 300);
			  },true);
		
			
	} //init


if (document.addEventListener) {
  document.addEventListener('DOMContentLoaded', init, false);
} else {
  window.onload = init;
}

var imagehtml = "/picture?id=2";
 
</script>




<style type="text/css">
  /* sigma.js context : */
  .sigma-parent {
    position: relative;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    background: #222;
    height: 500px;
    width: 852px;
  }
  .sigma-expand {
    position: absolute;
    width: 500px;
    height: 500px;
    top: 0;
    left: 0;
  }
  
  .status-area {
    position: absolute;
 	border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    background: #EEE;
    width: 350px;
    height 500px;
	top: 0px;
    left: 502px;
	font-family:sans-serif;
  }
  
  .buttons-container{
    padding-bottom: 8px;
    padding-top: 12px;
  }
</style>

</head>
<body>
  <div class="container">
    
  <h2 class="span12" id="post-title">demo of sigma.js and layout</h2>
  
 
  <div class="row">
  <div class="span12 sigma-parent" id="sigma-example-parent">
    <span class="sigma-expand" id="node-demo"></span>
    
	<span id="status" class="status-area"> 
		<span id="status-label"><center>Project Titles:</center></span>
		<img id="status-img" src="/public/images/image.jpg" width=350/>
		
	</span>
  </div>

</div>

<br>


 <div class="span12 buttons-container">
    
    <button class="btn" id="add-nodes">Next inspiration event...</button>
    <button class="btn" id="load-inspirations">Load Over time</button>
    <button class="btn" id="spring">Spring Layout</button>
    <button class="btn" id="add-all-nodes">Load whole network...</button>


  </div>
  <div id="result" name="result">

 preload
</div>

</body>