#{extends 'main.html' /}
#{set title:'EXCHANGE ARCHIVE - ' + target /}

<!DOCTYPE html>
<!--[if lt IE 7]> <html class="ie6 oldie"> <![endif]-->
<!--[if IE 7]>    <html class="ie7 oldie"> <![endif]-->
<!--[if IE 8]>    <html class="ie8 oldie"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="">
<!--<![endif]-->

<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" media="screen" href="@{'/public/stylesheets/newStyle.css'}">
<link rel="stylesheet" media="screen" href="@{'/public/stylesheets/main.css'}">
<script src="@{'/public/javascripts/respond.min.js'}" type="text/javascript" ></script>
        
<!-- 
To learn more about the conditional comments around the html tags at the top of the file:
paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/

Do the following if using your customized build of modernizr (http://www.modernizr.com/):
* insert the link to your js here
* remove the link below to the html5shiv
* add the "no-js" class to the html tags at the top
* you can also remove the link to respond.min.js if you included the MQ Polyfill in your modernizr build 
-->
<!--[if lt IE 9]>
<script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->
</head>

<body>
<div id="wrap">
<div id="main">
  <h2 style="float:left">
    <a style="color:#000000" href="@{Application.graph()}">THE EXCHANGE ARCHIVE</a>
  </h2>
  <div style="float:right; margin-top:20px; font-size:16px">
    <a href="@{Application.graph()}">HOME</a>
  </div>
  
  #{if projects}
    <h1 style="clear:both">Search for: ${target}</h1>
  
    <div>    
      #{list projects, as:'project'}
        #{fullProject project:project /}
      #{/list}
    </div>
  
    <div style="clear:both">
      #{if offset > 0}
        <a style="font-size:20px" href="@{Application.searchResult(target, offset - 10)}">Previous</a>
      #{/if}
      &nbsp; 
      #{if hasNext}
        <a style="font-size:20px" href="@{Application.searchResult(target, offset + 10)}">Next</a>
      #{/if}
    </div>
  #{/if}
  #{else}
    <h3 style="clear:both">
      No results found.
    </h3>
  #{/else}
</div>
</div>
<div id="footer" style="text-align:center">
  <hr />
  <a style="color:#000000" href="@{Application.about()}">About</a> 
  &nbsp;|&nbsp;
  <a style="color:#000000" href="@{Application.contact()}">Contact</a>
</div>
</body>
</html>
